<h1><%=@team.name%></h1>
<h2>Team Motto: <%=@team.motto%></h2>
<% @members.each do |member| %>
<p><h2>Hero Name: <%=member.name%></h2></p>
<p>Hero Power: <%=member.power%><br>
Hero Biography: <%=member.bio%></p>
<%end%>


